/* i already know all this and i changed and played with the fonts in chapter two as you can tell if you look at my files*/
/* ~ */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  margin:0;
}

nav {
  text-align: center;
  background: #985b52;
  position: fixed;
  width: 100%;
  top: 0;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}


h1 {
  font-family: "Contrail One", cursive;
  font-size: 60px;
}

h2 {
  font-family: "Contrail One", cursive;
  font-size: 30px;
}

h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  margin: 0;
}

a {
  color: #0fd887;

}

a:hover {
  text-decoration: none;
}

header, footer {
  background: #C5796D;
  color: #fff;
}

header {
  padding-top: 50px;
}

.img {
  width: 300px;
  border-radius: 50%;
  float: left;
  margin-right: 50px;
}

footer {
  text-align: center;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}

.work {
  background: #DBE6F6;
  color: #363535;
}

.education {
  color: #232222;
  background: linear-gradient(rgba(141,153,174, 0.8), rgba(141,153,174, 0.5)),
    url(../images/toronto.jpg) no-repeat fixed;
    background-size: cover;

  }

p + h3 {
  margin-top: 30px;
}

h3 ~ p {
  margin: 0;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}

.col-narrow {
  width: 30%;
  float: left;
  min-height: 150px;
}

.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
  min-height: 150px;
}

.job-desc p:first-of-type {
  margin-top:0;
}

.btn {
  text-decoration: none;
  background: #985b52;
  padding: 10px;
  color: #fff;
}
