/* i already know all this and i changed and played with the fonts in chapter two as you can tell if you look at my files*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  margin:0;
}

a {
  color: #0fd887;

}

a:hover {
  text-decoration: none;
}

header, footer {
  background: #C5796D;
  color: #fff;
}

.img {
  width: 300px;
  border-radius: 50%;
  float: left;
  margin-right: 50px;
}

footer {
  text-align: center;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}

.work {
  background: #DBE6F6;
  color: #363535;
}

.education {
  background: #dcb0a9;
  color: #232222;
  }

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.col-narrow {
  width: 30%;
  float: left;
  min-height: 175px;
}

.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
  min-height: 175px;
}

h1 {
  font-family: "Contrail One", cursive;
  font-size: 60px;
}

h2 {
  font-family: "Contrail One", cursive;
  font-size: 30px;
}

h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}
